elasticsearch-dsl==7.0.0
Flask==2.0.0
-e git+https://github.com/datosgobar/georef-ar-address.git@development#egg=georef-ar-address
geojson==3.2.0
gunicorn[gevent]==19.9.0
requests==2.20.0
shapely==2.0.7
pyshp==2.0.1
tqdm==4.31.1
Werkzeug==2.0.0
pyproj==3.6.1
gdal>=3.10,<3.11