# Archivo de configuración de ejemplo para georef-ar-api
# Este archivo utiliza la sintaxis de Python.

#------------------------------------------------------------
# Configuración para API
#------------------------------------------------------------

# Número máximo de entidades a devolver en una consulta (max).  Este
# valor también es utilizado para limitar la cantidad de consultas que
# se pueden envíar a través de los endpoints bulk.  Su valor debe ser
# menor o igual que MAX_RESULT_WINDOW.
MAX_RESULT_LEN = 5000

# El valor máximo permitido para (max + inicio). Su valor debe ser
# idéntico a el valor index.max_result_window de Elasticsearch, que
# por defecto es 10000.
MAX_RESULT_WINDOW = 10000

# URLs de endpoints de descarga completa de datos Por ejemplo, el
# usuario puede acceder a /api/departamentos.csv para descargarse la
# base total de departamentos. Internamente la api realiza un HTTP
# redirect a las URLs configuradas en COMPLETE_DOWNLOAD_URLS. En caso
# establecer una URL como None, se desactivará el endpoint asociado.
COMPLETE_DOWNLOAD_URLS = {
    'provincias': {
        'json': 'https://www.example.org',
        'csv': None,
        'geojson': None
    },
    'departamentos': {
        'json': None,
        'csv': None,
        'geojson': None
    },
    'municipios': {
        'json': None,
        'csv': None,
        'geojson': None
    },
    'localidades': {
        'json': None,
        'csv': None,
        'geojson': None
    },
    'calles': {
        # calles no tiene archivo geojson asociado
        'json': None,
        'csv': None
    }
}

#------------------------------------------------------------
# Configuración para indexación de datos
#------------------------------------------------------------

# Configuración de entorno
GEOREF_ENV = 'prod' # prod, stg o dev

# Paths locales o URLs archivos de datos a indexar Las URLs
# especificadas debajo utilizan el portal de descargas
# infra.datos.gob.ar, que siempre provee la última versión disponible
# de los archivos de datos utilizados por Georef API.
STATES_FILE = 'http://infra.datos.gob.ar/catalog/modernizacion/dataset/7/distribution/7.2/download/provincias.json'
DEPARTMENTS_FILE = 'http://infra.datos.gob.ar/catalog/modernizacion/dataset/7/distribution/7.3/download/departamentos.json'
MUNICIPALITIES_FILE = 'http://infra.datos.gob.ar/catalog/modernizacion/dataset/7/distribution/7.4/download/municipios.json'
LOCALITIES_FILE = 'http://infra.datos.gob.ar/catalog/modernizacion/dataset/7/distribution/7.5/download/localidades.json'
STREETS_FILE = 'http://infra.datos.gob.ar/catalog/modernizacion/dataset/7/distribution/7.6/download/calles.json'

# Directorio donde almacenar archivos indexados anteriormente
BACKUPS_DIR = 'backups'

# Configura si se debe envíar un mail de reporte al terminar la
# indexación
EMAIL_ENABLED = False

# Configuración de envío de mails para indexación. Si EMAIL_ENABLED es
# falso, no es necesario configurar los valores.
EMAIL_HOST = 'foo.com'
EMAIL_USER = 'user@foo.com'
EMAIL_PASSWORD = 'password'
EMAIL_RECIPIENTS = [
    'bar@mail.com'
]

#------------------------------------------------------------
# Configuración para Flask
#------------------------------------------------------------

JSON_AS_ASCII = False

#------------------------------------------------------------
# Configuración para Elasticsearch
#------------------------------------------------------------

ES_HOSTS = [
    'localhost'
]

# Activa la funcionalidad de Elasticsearch de descubrir nuevos nodos
# desde los listados
ES_SNIFF = True
ES_SNIFFER_TIMEOUT = 60
