# Configuración para Flask
JSON_AS_ASCII=False

# Configuración para Elasticsearch
ES_HOSTS=[
	'localhost'
]
# Activa la funcionalidad de Elasticsearch de descubrir nuevos nodos desde los
# listados
ES_SNIFF=True
ES_SNIFFER_TIMEOUT=60

# Configuración para PostgreSQL
SQL_DB_NAME='georef'
SQL_DB_HOST='localhost'
SQL_DB_USER='user'
SQL_DB_PASS='password'
# Número máximo de conexiones a establecer a la base simultáneamente
SQL_DB_MAX_CONNECTIONS=4

# Configuración de georef-api
GEOREF_ENV='prod' # prod, stg o dev

# Paths locales o URLs archivos de datos a indexar
STATES_FILE='http://infra.datos.gob.ar/catalog/modernizacion/dataset/7/distribution/7.2/download/provincias.json'
DEPARTMENTS_FILE='http://infra.datos.gob.ar/catalog/modernizacion/dataset/7/distribution/7.3/download/departamentos.json'
MUNICIPALITIES_FILE='http://infra.datos.gob.ar/catalog/modernizacion/dataset/7/distribution/7.4/download/municipios.json'
LOCALITIES_FILE='http://infra.datos.gob.ar/catalog/modernizacion/dataset/7/distribution/7.5/download/asentamientos.json'
STREETS_FILE='http://infra.datos.gob.ar/catalog/modernizacion/dataset/7/distribution/7.6/download/calles.json'

# Directorio donde almacenar archivos indexados anteriormente
BACKUPS_DIR='backups'