server {
    listen 80 default_server;
    client_max_body_size 4G;

    keepalive_timeout 5;

    # path for static files
    root /home/<user>/georef-api;

    # Descomentar las siguientes dos líneas para activar
    # el uso de cache de nginx. El archivo de configuración
    # nginx.conf DEBE contener la directiva 'proxy_cache_path'
    # activada con keys_zone=georef.
    # proxy_cache georef;
    # proxy_cache_valid 200 120m;
    
    location / {
        # checks for static file, if not found proxy to app
        try_files $uri @proxy_to_app;
    }

    location @proxy_to_app {
        proxy_pass http://localhost:5000;
    }
}
