{
    "openapi": "3.0.1",
    "info": {
        "title": "georef-api",
        "description": "API del servicio de normalización y geocodificación para direcciones de Argentina.",
        "contact": {
            "name": "Equipo de Datos de la Nación Argentina",
            "url": "https://github.com/datosgobar",
            "email": "datos@modernizacion.gob.ar"
        },
        "version": "1.0.0"
    },
    "tags": [
        {
            "name": "Normalización"
        },
        {
            "name": "Información"
        }
    ],
    "externalDocs": {
        "url": "https://github.com/datosgobar/georef-api"
    },
    "servers": [
        {
            "url": "https://georef.datos.gob.ar/api/v1.0"
        }
    ],
    "components": {
        "schemas": {
            "calle": {
                "type": "object",
                "properties": {
                    "departamento": {
                        "type": "string",
                        "example": "Comuna 10"
                    },
                    "fin_derecha": {
                        "type": "integer",
                        "example": 5949
                    },
                    "fin_iqzuierda": {
                        "type": "integer",
                        "example": 5950
                    },
                    "inicio_derecha": {
                        "type": "integer",
                        "example": 5301
                    },
                    "inicio_izquierda": {
                        "type": "integer",
                        "example": 5302
                    },
                    "id": {
                        "type": "string",
                        "example": "0207001003895"
                    },
                    "localidad": {
                        "type": "string",
                        "example": "Ciudad Autónoma de Buenos Aires"
                    },
                    "nombre": {
                        "type": "string",
                        "example": "CNL RAMON LISTA"
                    },
                    "nomenclatura": {
                        "type": "string",
                        "example": "CNL RAMON LISTA, Ciudad Autónoma de Buenos Aires, Ciudad Autónoma de Buenos Aires"
                    },
                    "observaciones": {
                        "type": "object",
                        "properties": {
                            "fuente": {
                                "type": "string",
                                "example": "INDEC"
                            }
                        }
                    },
                    "provincia": {
                        "type": "string",
                        "example": "Ciudad Autónoma de Buenos Aires"
                    },
                    "tipo": {
                        "type": "string",
                        "example": "CALLE"
                    }
                }
            },
            "departamento": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "14140"
                    },
                    "nombre": {
                        "type": "string",
                        "example": "San Justo"
                    },
                    "provincia": {
                        "$ref": "#/components/schemas/provincia"
                    }
                }
            },
            "departamentos": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/departamento"
                }
            },
            "municipio": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "140084"
                    },
                    "nombre": {
                        "type": "string",
                        "example": "COLONIA CAROYA"
                    },
                    "provincia": {
                        "$ref": "#/components/schemas/provincia"
                    },
                    "ubicacion": {
                        "$ref": "#/components/schemas/ubicacion"
                    }
                }
            },
            "ubicacion": {
                "type": "object",
                "properties": {
                    "lat": {
                        "type": "number",
                        "example": -31.0541541598
                    },
                    "lon": {
                        "type": "number",
                        "example": -64.0859537871
                    }
                }
            },
            "municipios": {
                "type": "array",
                "items": {
                    "$ref":"#/components/schemas/municipio"
                }
            },
            "localidad": {
                "type": "object",
                "properties": {
                    "departamento": {
                        "$ref": "#/components/schemas/departamento"
                    },
                    "id": {
                        "type": "string",
                        "example": "14007210002"
                    },
                    "nombre": {
                        "type": "string",
                        "example": "LAS BAJADAS"
                    },
                    "provincia": {
                        "$ref": "#/components/schemas/provincia"
                    },
                    "tipo": {
                        "type": "string",
                        "example": "Localidad simple (LS)",
                        "enum": [
                            "Entidad (E)",
                            "Componente de localidad compuesta (LC)",
                            "Localidad simple (LS)"
                        ]
                    },
                    "ubicacion": {
                        "$ref": "#/components/schemas/ubicacion"
                    }
                }
            },
            "localidades": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/localidad"
                }
            },
            "provincia": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "14"
                    },
                    "nombre": {
                        "type": "string",
                        "example": "Córdoba"
                    }
                }
            },
            "provincias": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/provincia"
                }
            },
            "calles": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/calle"
                }
            },
            "direccion_normalizada": {
                "type": "object",
                "properties": {
                    "altura": {
                        "type": "integer",
                        "example": 1000
                    },
                    "departamento": {
                        "type": "string",
                        "example": "Comuna 14"
                    },
                    "id": {
                        "type": "string",
                        "example": "0209801001740"
                    }, 
                    "localidad": {
                        "type": "string",
                        "example": "Ciudad Autónoma de Buenos Aires"
                    },
                    "nombre": {
                        "type": "string",
                        "example": "AV SANTA FE"
                    },
                    "nomenclatura": {
                        "type": "string",
                        "example": "AV SANTA FE 1000, Ciudad Autónoma de Buenos Aires, Ciudad Autónoma de Buenos Aires"
                    },
                    "observaciones": {
                        "type": "object",
                        "properties": {
                            "fuente": {
                                "type": "string",
                                "example": "INDEC"
                            },
                            "info": {
                                "type": "string",
                                "example": "¡Encontramos la dirección!"
                            }
                        }
                    },
                    "provincia": {
                        "type": "string",
                        "example": "Ciudad Autónoma de Buenos Aires"
                    },
                    "tipo": {
                        "type": "string",
                        "example": "AV"
                    },
                    "ubicacion": {
                        "type": "object",
                        "properties": {
                            "lat": {
                                "type": "string",
                                "example": "-34.5953240538455"
                            },
                            "lon": {
                                "type": "string",
                                "example": "-58.3810302935299"
                            }
                        }
                    }
                }
            },
            "direcciones_normalizadas": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/direccion_normalizada"
                }
            },
            "direcciones_normalizadas_con_original": {
                "type": "object",
                "properties": {
                    "normalizadas": {
                        "$ref": "#/components/schemas/direcciones_normalizadas"
                    },
                    "original": {
                        "type": "string",
                        "example": "Av Santa Fe 1000"
                    }
                }
            }
        },
        "parameters": {
            "provincia": {
                "name": "provincia",
                "description": "Filtrar por nombre o ID de provincia.",
                "in": "query",
                "schema": {
                    "type": "string"
                }
            },
            "localidad": {
                "name": "localidad",
                "description": "Filtrar por nombre o ID de localidad.",
                "in": "query",
                "schema": {
                    "type": "string"
                }
            },
            "departamento": {
                "name": "departamento",
                "description": "Filtrar por nombre o ID de departamento.",
                "in": "query",
                "schema": {
                    "type": "string"
                }
            },
            "max": {
                "name": "max",
                "description": "Cantidad máxima de resultados a devolver.",
                "in": "query",
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 10
                }
            },
            "campos": {
                "name": "campos",
                "description": "Campos a incluir en la respuesta.",
                "in": "query",
                "schema": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            },
            "aplanar": {
                "name": "aplanar",
                "description": "Si es verdadero, muestra el resultado con una estructura plana.",
                "in": "query",
                "schema": {
                    "type": "boolean"
                }
            },
            "id": {
                "name": "id",
                "description": "Filtrar por ID.",
                "in": "query",
                "schema": {
                    "type": "string"
                }
            },
            "nombre": {
                "name": "nombre",
                "description": "Filtrar por nombre.",
                "in": "query",
                "schema": {
                    "type": "string"
                }
            },
            "orden": {
                "name": "orden",
                "description": "Campo por el cual ordenar los resultados.",
                "in": "query",
                "schema": {
                    "type": "string"
                }
            }
        },
        "responses": {
            "direcciones_error": {
                "description": "Se produjo un error al procesar la consulta.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "codigo": {
                                    "type": "integer",
                                    "example": 400
                                },
                                "error": {
                                    "type": "object",
                                    "properties": {
                                        "codigo_interno": {
                                            "type": "string",
                                            "nullable": true,
                                            "example": "123456"
                                        },
                                        "info": {
                                            "type": "string",
                                            "example": "https://github.com/datosgobar/georef-api"
                                        },
                                        "mensaje": {
                                            "type": "string",
                                            "example": "El Request tiene parámetros inválidos o está incompleto."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "paths": {
        "/direcciones": {
            "get": {
                "summary": "Normaliza una dirección.",
                "tags": [
                    "Normalización"
                ],
                "parameters": [
                    {
                        "name": "direccion",
                        "description": "Dirección a normalizar.",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Av Santa Fe 1000, Buenos Aires"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/localidad"
                    },
                    {
                        "$ref": "#/components/parameters/departamento"
                    },
                    {
                        "$ref": "#/components/parameters/provincia"
                    },
                    {
                        "$ref": "#/components/parameters/campos"
                    },
                    {
                        "$ref": "#/components/parameters/max"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Listado de direcciones normalizadas.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "direcciones": {
                                            "$ref": "#/components/schemas/direcciones_normalizadas"
                                        }
                                    }                                
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/direcciones_error"
                    }
                }
            },
            "post": {
                "summary": "Normaliza un lote de direcciones.",
                "tags": [
                    "Normalización"
                ],
                "parameters": [
                    {
                        "name": "direcciones",
                        "description": "Lista de direcciones a normalizar.",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "example": ["Av Santa Fe 1000", "Corrientes 1200, Buenos Aires"]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lote de dirrecciones normalizadas.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "direcciones": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/direcciones_normalizadas_con_original"
                                            }
                                        }
                                    }                                
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/direcciones_error"
                    }
                }
            }
        },
        "/calles": {
            "get": {
                "summary": "Retorna calles (normalizadas) de una localidad o provincia.",
                "tags": [
                    "Normalización"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/localidad"
                    },
                    {
                        "$ref": "#/components/parameters/departamento"
                    },
                    {
                        "$ref": "#/components/parameters/provincia"
                    },
                    {
                        "$ref": "#/components/parameters/campos"
                    },
                    {
                        "$ref": "#/components/parameters/max"
                    },
                    {
                        "name": "tipo",
                        "description": "Tipo de camino.",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "Calle"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Listado de calles normalizadas.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "calles": {
                                            "$ref": "#/components/schemas/calles"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provincias": {
            "get": {
                "summary": "Retorna un listado de provincias.",
                "tags": [
                    "Información"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/nombre"
                    },
                    {
                        "$ref": "#/components/parameters/provincia"
                    },
                    {
                        "$ref": "#/components/parameters/campos"
                    },
                    {
                        "$ref": "#/components/parameters/orden"
                    },
                    {
                        "$ref": "#/components/parameters/aplanar"
                    },
                    {
                        "$ref": "#/components/parameters/max"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Listado de provincias.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "provincias": {
                                            "$ref": "#/components/schemas/provincias"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/departamentos": {
            "get": {
                "summary": "Retorna un listado de departamentos.",
                "tags": [
                    "Información"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/nombre"
                    },
                    {
                        "$ref": "#/components/parameters/provincia"
                    },
                    {
                        "$ref": "#/components/parameters/campos"
                    },
                    {
                        "$ref": "#/components/parameters/orden"
                    },
                    {
                        "$ref": "#/components/parameters/aplanar"
                    },
                    {
                        "$ref": "#/components/parameters/max"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Listado de departamentos.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "departamentos": {
                                            "$ref": "#/components/schemas/departamentos"
                                        }
                                    }
                                }
                            }
                        }
                    }                   
                }
            }
        },
        "/municipios": {
            "get": {
                "summary": "Retorna un listado de municipios.",
                "tags": [
                    "Información"
                ],
                "parameters":[
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/nombre"
                    },
                    {
                        "$ref": "#/components/parameters/provincia"
                    },
                    {
                        "$ref": "#/components/parameters/campos"
                    },
                    {
                        "$ref": "#/components/parameters/orden"
                    },
                    {
                        "$ref": "#/components/parameters/aplanar"
                    },
                    {
                        "$ref": "#/components/parameters/max"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Listado de municipios.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "municipios": {
                                            "$ref": "#/components/schemas/municipios"
                                        }
                                    }
                                }
                            }
                        }
                    }                    
                }
            }
        },
        "/localidades": {
            "get": {
                "summary": "Retorna un listado de localidades y entidades de BAHRA.",
                "tags": [
                    "Información"
                ],
                "parameters":[
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/nombre"
                    },
                    {
                        "$ref": "#/components/parameters/departamento"
                    },
                    {
                        "$ref": "#/components/parameters/provincia"
                    },
                    {
                        "$ref": "#/components/parameters/campos"
                    },
                    {
                        "$ref": "#/components/parameters/orden"
                    },
                    {
                        "$ref": "#/components/parameters/aplanar"
                    },
                    {
                        "$ref": "#/components/parameters/max"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Listado de localidades y entidades.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "localidades": {
                                            "$ref": "#/components/schemas/localidades"
                                        }
                                    }
                                }
                            }
                        }
                    }                    
                }
            }
        }
    }
}